
.zindex{}
.img{width: 1500px;

height: 700px;
position: absolute;

}



.box{

    height: 100px;
    width: 200px;
    background-color: whitesmoke;
   
   background-position: 0px 0px 0px 0px;
   position: relative;
   box-shadow: black 10px;
   background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}